<mat-toolbar class="root-toolbar">
  <div class="icon">
    <button mat-button routerLink="/">
      <img
        priority=""
        ngSrc="assets/svg/logo.svg"
        alt=""
        height="50"
        width="300" />
    </button>
  </div>
  <nav [tabPanel]="tabPanel" mat-tab-nav-bar>
    <a
      *ngFor="let route of commonRoutes"
      mat-tab-link
      [routerLink]="[route.path]"
      [active]="link.isActive"
      routerLinkActive
      [routerLinkActiveOptions]="{ exact: true }"
      #link="routerLinkActive">
      {{ route.data?.['label'] }}
    </a>
  </nav>
  <div class="user-menu">
    <button
      *ngIf="user$ | async as user; else unlogged"
      [matMenuTriggerFor]="menu"
      mat-icon-button>
      <mat-icon>person</mat-icon>
    </button>

    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="logout()">
        <mat-icon>logout</mat-icon>
        <span>Вийти</span>
      </button>
    </mat-menu>
    <ng-template #unlogged>
      <button mat-icon-button (click)="openLoginDialog()">
        <mat-icon>login</mat-icon>
      </button>
    </ng-template>
  </div>
</mat-toolbar>
<mat-toolbar
  *rdnForRole="[userRoles.Admin, userRoles.Superadmin]"
  color="accent"
  class="admin-toolbar">
  <nav [tabPanel]="tabPanel" mat-tab-nav-bar>
    <a
      *ngFor="let route of adminRoutes"
      mat-tab-link
      [routerLink]="['admin', route.path]"
      [active]="link.isActive"
      routerLinkActive
      [routerLinkActiveOptions]="{ exact: true }"
      #link="routerLinkActive">
      {{ route.data?.['label'] }}
    </a>
  </nav>
</mat-toolbar>

<mat-tab-nav-panel #tabPanel>
  <div class="container pt-4 pb-4">
    <router-outlet></router-outlet>
  </div>
</mat-tab-nav-panel>
